@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	background: #000000;
}
ul#messages {
	list-style-type: none;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-right: 0;
	box-sizing: content-box;
}
li.received {
	color: #ffffff;
	min-height: 32px;
	line-height: 32px;
	font-size: 28px;
	word-break: break-all;
}
li.received img {
	vertical-align: center;
}
li.received span {
	padding: 0 4px;
}
